<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zncm.jmxandroid">




    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".base.MyApp"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ImgActivity"/>
        <activity android:name=".ui.GlobalLocalAct"/>
        <activity android:name=".ui.SmoothImgActivity"/>
        <activity android:name=".ui.ColorpickerviewActivity"/>
        <activity android:name=".ui.BaseViewActivity"/>
        <activity android:name=".ui.ToastyActivity"/>
        <activity android:name=".volley.VolleyDemo"/>
        <activity android:name=".hook.ProxyActivity"/>
        <activity android:name=".activityshortcut.ActivityShortcut"/>
        <activity android:name=".droidplugin.MyActivity"/>
        <activity android:name=".ui.AZViewActivity"/>
        <activity android:name=".mykotlin.MyKotlinDemo"/>
        <activity android:name=".mykotlin.MyKotlinDemo2"/>
        <activity android:name=".mykotlin.MyKotlinListView"/>
        <activity android:name=".os.MyHandlerAc"/>
        <activity android:name=".os.java.MyHandlerAcJ"/>


        <activity-alias android:name=".AddActivityShortcut"
                        android:targetActivity=".activityshortcut.ActivityShortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>